@using System.Web.Optimization
@using System.Configuration;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
    <title>כניסה - MyBudget</title>
    @Styles.Render("~/login/css")
</head>
<body>
   @RenderBody()
    @Scripts.Render("~/login/scripts")
</body>
</html>

